<p><i class="fa fa-twitter fa-lg fa-fw"></i> <a href="https://twitter.com/tlrasor/" target="_blank">@tlrasor</a></p>
<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/tlrasor/" target="_blank">@tlrasor</a></p>
<!--<p><i class="fa fa-linkedin fa-lg fa-fw"></i> <a href="https://www.linkedin.com/in/tlrasor" target="_blank">linkedin.com/in/tlrasor</a></p>-->
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://thathanka.org/" target="_blank">thathanka.org</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:travis@thathanka.org" target="_blank">travis@thathanka.org</a></p>