<div class="modal fade" id="saveAsPdf" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <img src="{{ "/images/resume_print_dialog.png" | prepend:site.baseurl }}" class="img-rounded" width="400" height="342">
        <p class="small">ResumeCards is tested and works best on Chrome. Please contact me directly if you have trouble</p>
      </div>
      <div class="modal-footer">
        <button onclick="window.print()" class="btn btn-primary">Open Print Dialog</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>